* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Orbitron', sans-serif; */

}

.mobile_call_logo {
    display: none;
}

details {
    display: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    /* background-color: floralwhite; */
    /* background-color: #fff;
    box-shadow: 0px -2px 3px 4px gainsboro; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}

.header_logo_image_div img {
    height: 60px;
    width: auto;
}

.header_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.header_li a {
    list-style: none;
    color: rgb(32, 32, 32);
    margin-right: 25px;
    font-size: 16px;
    transition: all .4s;
}

.header_li a:hover {
    /* color: rgb(1, 134, 250); */
    color: #ffcd06;
}

.header_call_icon {
    padding: 10px 10px 5px 10px;
    font-size: 20px;
    border: 2px solid rgb(110, 185, 252);
    border-radius: 50%;
    transition: all .4s;
    background-color: rgb(110, 185, 252);
    color: #fff;

}

.header_call_icon:hover {
    background-color: rgb(1, 134, 250);
    color: #fff;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 480px;
}

.submenu {
    padding: 20px 10px 20px 20px;
    margin-left: 45px;
    margin-top: 40px;
}

.color_change {
    color: #0285ff;
}

.mdsaif_div {
    color: #595959;
    font-size: 20px;
    word-spacing: 5px;
    transition: all.2s;
}

.mdsaif_div:hover {
    color: #0285ff;
    cursor: pointer;
}

.submenu_i {
    color: #3d3d3d;
    line-height: 50px;
    word-spacing: 20px;
    font-size: 50px;
    margin-bottom: 20px;
    font-style: bold;
}



.submenu p {
    font-size: 18px;
    line-height: 24px;
    word-spacing: 10px;
    margin-bottom: 15px;
    color: #595959;
}

.menu_image_div {
    margin: 10px;
    padding: 5px 10px;
    height: 475px;
}

.menu_image {
    width: auto;
    height: 500px;
}

.menu_button_div {
    margin: 110px 5px 20px 20px;
}

.menu_button {
    font-size: 21px;
    padding: 8px 35px;
    border: none;
    background-color: transparent;
    border: 2px solid #0285ff;
    border-radius: 10px;
    transition: all .4s;
    color: #0285ff;
}

.menu_button:hover {
    background-color: #0285ff;
    color: #fff;
    cursor: pointer;

}



.scroler {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: #595959;
    padding-bottom: 30px;
    border-bottom: 1px solid gainsboro;
    box-shadow: 0px 6px 4px -4px gainsboro;
}

.scroler i {
    font-size: 25px;
    margin-left: 10px;
}

/* ---------------------------man page-------------------------------- */

.more_about {
    font-size: 30px;
    color: #3d3d3d;
    margin: 80px 80px;
}

.more_about h2 i {
    margin-left: 10px;
    color: rgb(0, 255, 0);
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    width: 50%;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid gainsboro;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 20px 0px gainsboro;

}

.card_image_icons {
    font-size: 100px;
    margin: 20px 40px 20px 20px;
    color: green;
    transition: all .2S;
}

.card_image_icons_two {
    color: red;
}

.apple_laptop_image {
    font-size: 100px;
    margin: 20px 40px 20px 20px;
    color: #fd5f03;
    transition: all .2S;
}

.js_color {
    color: yellow;
}

.card_dady {
    display: flex;
    justify-content: space-around;
    margin: 0px 40px;
}

.css_color {
    color: #0384fd;
}

.card_pera {
    /* margin: 10px 20px 10px 50px; */
    width: 600px;
}

.card_hading {
    color: #3d3d3d;
    font-size: 25px;
    word-spacing: 10px;
    margin-bottom: 20px;
}

.card_pera p {
    font-size: 15px;
    color: #595959;
    line-height: 18px;
    word-spacing: 5px;
    margin: 20px 10px 30px 10px;
}

.card_button_div {
    margin-left: 20px;
    padding: 5;
    margin-top: 30px;
}

.card_button {
    font-size: 21px;
    padding: 8px 35px;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(1, 134, 250);
    border-radius: 10px;
    transition: all .4s;
    color: rgb(1, 134, 250);
}

.card_button_two {
    margin-top: 50px;
}

.card_button:hover {
    background-color: rgb(1, 134, 250);
    color: #fff;
    cursor: pointer;
}

.websites_cards {
    margin: auto;
    display: flex;
    margin: 10px 50px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 60px;

}

.websites_cards_menu {
    padding: 10px;
    margin: 0px 5px;
}

.websites_cards_menu:hover img {
    box-shadow: 0px 0px 20px 0px gainsboro;
    transform: translateY(-12px);

}

.websites_cards_menu img {
    height: 240px;
    width: 340px;
    border-radius: 10px;
    transition: all .2s;
    margin-bottom: 20px;
}

.websites_cards_menu p {
    line-height: 20px;
    word-spacing: 5px;
    color: #595959;
    margin-top: 20px;
    transition: all .2s;
}

.websites_cards_menu p:hover {
    color: #141414;

}

.websites_cards_menu ul {
    display: flex;
    list-style: none;
}

.websites_cards_menu ul li {
    margin: 10px 15px;
    transition: all .2s;
    color: #68b3f8;
}

.websites_cards_menu ul li:hover {
    color: #0285ff;

}

.visit_site_button {
    margin-top: 20px;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    background-color: transparent;
    border: 2px solid #0672ff;
    border-radius: 5px;
    transition: all .4s;
    color: #0672ff;
}

.visit_site_button:hover {
    background-color: #0672ff;
    color: #fff;
    cursor: pointer;
}

.long_card_image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.long_card_image img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    margin: 10px 20px;
    border-radius: 50%;
}

.home_getstard_card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.home_getstard_card_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    height: 430px;
    padding: 30px;
    width: 360px;
    margin: 10px;
    transition: all .2s;
}

.home_getstard_card_menu:hover {
    box-shadow: 0px 0px 40px 0px gainsboro;
}

.home_getstard_card_menu:hover i {
    transform: scale(1.1);

}

.home_getstard_card_menu h4 {
    color: #3002ff;
    font-size: 20px;
    margin: 20px;
}

.home_getstard_card_menu p {
    color: #595959;
    line-height: 20px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

.get_stard {
    color: #cab5fc;
    transition: all .2s;
    font-size: 18px;
    margin: 20px 0px;
    padding: 0px;
}

.get_stard:hover {
    color: #5209fd;
    cursor: pointer;
}

.get_stard_color {
    color: #6e31fc;

}

.long_card_image {
    display: flex;
    align-items: center;
    color: #3d3d3d;
    justify-content: center;
    border: 12px solid #fff;
    border-radius: 40px;
    padding: 10px 20px;
    height: 180px;
    width: 80%;
    margin: 50px auto 80px auto;
    box-shadow: 0px 0px 20px 0px gainsboro;
    background-color: #F9F6EE;
    cursor: pointer;
    transition: all .2s;

}

.long_card_image:hover {
    box-shadow: 0px 0px 20px 0px rgb(167, 165, 165);

}

.long_card_image h2 {
    font-family: 'Bruno Ace SC', cursive;
}

.long_card_image_front p {
    color: #5c5c5c;

}

.long_card_image img {
    height: 200px;
    width: auto;
    border-radius: 50%;
    border: 8px solid #fef5dd;
    box-shadow: 0px 3px 10px 1px gray;
    margin: 0px 40px;
}

.long_card_image h2 {
    font-size: 40px;
    word-spacing: 8px;
    border-bottom: 4px solid #5c5c5c;
    border-left: 4px solid #5c5c5c;
    padding: 0px 0px 0px 15px;
    flex: 1;

}

.long_card_image_front {
    padding: 10px;
    text-align: center;
    border-bottom: 4px solid #5c5c5c;
    border-right: 4px solid #5c5c5c;
    flex: 1;

}


.wave-border {
    height: 100px;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    width: 100%;
    height: 100px;
}

footer ul {
    display: flex;
    list-style: none;
    margin-left: 40px;
}

.footer_icons {
    color: white;
    text-decoration: none;
    transition: all .2s;
    margin: 10px 10px;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 2px;
    border: 2px solid white;
    border-radius: 50%;
}

.footer_icons:hover {
    transform: scale(1.4);

}

.mygmail {
    text-align: center;
    margin-right: 40px;
}

.mygmail h4 {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Bruno Ace SC', cursive;
}

.mygmail a {
    color: #ffcd06;
}


@media screen and (max-width: 820px) {
    .submenu_i {
        line-height: 40px;
        word-spacing: 20px;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .menu_image {
        width: auto;
        height: 400px;
    }

    .menu_image_div {
        margin: 0px;
        padding: 5px 0px;
        height: auto;
    }

    .submenu {
        padding: 20px 10px 20px 20px;
        margin-left: 20px;
        margin-top: 100px;
    }

    .menu_button_div {
        margin: 40px 0px 20px 20px;
    }

    .scroler {
        margin-top: 50px;
    }

    .card_dady {
        flex-direction: column;
        margin: 0px;
    }

    .card {
        width: 75%;
        padding: 20px 10px;
        margin: 20px auto;
    }

    .card_image_icons {
        font-size: 120px;
    }

    .card_pera {
        margin-left: 20px;
    }

    .card_hading {
        font-size: 20px;
        word-spacing: 4px;
        margin-bottom: 10px;
    }

    .card_button_div {
        margin-left: 100px;
        padding: 5;
        margin-top: 0px;
    }

    .card_pera p {
        font-size: 15px;
        line-height: 18px;
        word-spacing: 5px;
    }

    .card_button_two {
        margin-top: 20px;
    }

    .long_card_image {
        padding: 5px 10px;
        height: 100px;
        width: 90%;
        margin: 30px auto 50px auto;
    }

    .long_card_image h2 {
        font-size: 15px;
        word-spacing: 2px;
        padding: 0px 0px 5px 5px;
    }

    .long_card_image img {
        height: 120px;
        border: 5px solid #6de06d;
        margin: 0px 20px;
    }

    .long_card_image_front {
        padding: 0px 5px 5px 0px;
    }

    .long_card_image_front h4 {
        font-size: 12px;
        word-spacing: 2px;
        line-height: 14px;
    }






}






@media screen and (max-width: 450px) {
    .header_li {
        display: none;
    }

    header {
        padding: 5px 20px;
        height: 60px;
        position: relative;
    }

    details {
        position: absolute;
        top: 20px;
        right: 5px;
        display: block;
        color: #000;
        padding: 5px;
    }

    .header_ul_mobile {
        position: absolute;
        right: -5px;
        margin-top: 10px;
        list-style: none;
        text-align: center;
        color: #000;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 0px 0px 0px 10px;
        line-height: 40px;
        box-shadow: -2px 2px 5px 0px gainsboro;
    }

    .header_li_mobile {
        border-bottom: 1px solid gainsboro;
    }

    .header_call_icon {
        display: none;
    }

    .header_logo_image_div img {
        height: 30px;
        width: auto;
    }

    .menu {
        display: flex;
        align-items: center;
        margin-top: 30px;
        height: 680px;
        flex-direction: column;
    }

    .submenu_i {
        font-size: 25px;
        line-height: 35px;
        word-spacing: 5px;
        margin-bottom: 20px;
    }

    .submenu {
        padding: 10px;
        margin: 10px 0px 10px 20px;
    }

    .submenu p {
        font-size: 18px;
        line-height: 20px;
        word-spacing: 3px;
        margin-bottom: 10px;
        color: #595959;
    }

    .menu_button_div {
        margin: 50px 5px 5px 0px;
    }

    .menu_image_div {
        margin-top: -100px;
        padding: 0px 0px;
        height: auto;

    }

    .menu_image {
        width: auto;
        height: 290px;
    }

    .more_about {
        margin-left: 10px;
        margin: 20px 10px;
    }

    .more_about h2 {
        font-size: 18px !important;
        margin-left: 20px;
        margin-top: -50px 0px;
    }

    .menu_button {
        font-size: 15px;
        padding: 5px 20px;
        border: 1px solid #0285ff;
        border-radius: 20px;
        color: #0285ff;
    }

    .long_card_image {
        padding: 5px 10px;
        height: 80px;
        width: 95%;
        margin: 30px auto 50px auto;
        border: 5px solid #fff;
    }


    .long_card_image h2 {
        font-size: 10px;
        word-spacing: 0px;
        border-bottom: 2px solid #5c5c5c;
        border-left: 2px solid #5c5c5c;
        padding: 0px 0px 5px 5px;
        border-radius: 5px;
    }

    .long_card_image img {
        height: 90px;
        width: auto;
        border: 4px solid #fff;
        margin: 0px 20px;
    }

    .long_card_image_front {
        border-bottom: 2px solid #5c5c5c;
        border-right: 2px solid #5c5c5c;
        padding: 0px 0px;
        border-radius: 5px;

    }

    .long_card_image_front h4 {
        font-size: 8px;
        word-spacing: 0px;
        line-height: 10px;

    }

    .long_card_image_front p {
        font-size: 4px;
        word-spacing: .5px;
        line-height: 8px;
    }

    .card_dady {
        flex-direction: column;
        margin: 0px;
    }

    .card {
        height: 200px;
        width: 96%;
        margin: 0px auto 20px auto;
        padding: 20px 10px;
    }

    .card_image_icons {
        font-size: 80px;
        margin: 0px 20px 0px 0px;
        color: rgb(92, 235, 92);
    }

    .card_pera {
        margin-left: 20px;
    }

    .card_hading {
        font-size: 17px;
        word-spacing: 3px;
        margin-bottom: 0px;
    }

    .card_pera p {
        font-size: 8px;
        color: #595959;
        line-height: 10px;
        word-spacing: 0px;
        margin: 10px 0px 0px 0px;
    }

    .card_button_div {
        margin-left: 10px;
        padding: 5;
        margin-top: 20px;
    }

    .card_button {
        font-size: 12px;
        padding: 5px 20px;
        background-color: transparent;
        border: 1px solid rgb(1, 134, 250);
        border-radius: 20px;
    }

    .card_button_two {
        margin-top: 0px;
    }

    .websites_cards_menu img {
        height: 140px;
        width: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .websites_cards h2 {
        font-size: 15px;
    }

    .websites_cards p {
        font-size: 12px;
        margin-top: 5px;
    }

    .visit_site_button {
        margin-top: 5px;
    }

    .websites_cards_menu {
        margin: 0px;
        padding: 10px 18px;
    }

    .websites_cards {
        margin: 10px 0px;
    }

    .websites_cards .slick-track {
        margin-left: 4rem;
    }

    .home_getstard_card {
        margin: 0px 20px;
    }

    .home_getstard_card_menu {
        height: 300px;
        padding: 10px;
        width: 250px;
        margin: 10px;
        border: 1px solid gainsboro;
    }

    .apple_laptop_image {
        font-size: 70px;
        padding: 0px;
        margin: 10pa auto !important;
    }

    .home_getstard_card_menu h4 {
        font-size: 15px;
        margin: -20px auto 10px auto;
    }

    .home_getstard_card_menu p {
        color: #595959;
        line-height: 15px;
        word-spacing: 2px;
        font-size: 10px;
        margin-bottom: 10px;
        padding: 0px 20px;
    }

    .get_stard {
        font-size: 12px;
        margin: 10px 0px;
        padding: 0px;
    }

    footer ul {
        margin-left: 5px;
    }


    .footer_icons {
        margin: 2px;
        font-size: 9px;
        padding: 5px;
        padding-bottom: 2px;
        margin-left: 5px;
    }

    .mygmail {
        text-align: center;
        margin-right: 20px;
    }

    .mygmail h4 {
        font-size: 20px;
        font-family: 'Bruno Ace SC', cursive;
    }

    .mygmail a {
        font-size: 8px;
    }

    .wave-border {
        height: 50px;
        overflow: hidden;
    }

    footer {
        height: 75px;
    }

    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 300px;
    }

}